<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div class="col s12">
      <h5 class="center">Welcome , {{user.username}}</h5>
    </div>
  </div>
  <hr />
</div>


<div class="container style">
  <div class="row">
    <h5 class="center">Todo</h5>
    <div class="col s10 offset-s1">
      <div class="card style1  z-depth-4">
        <div class="card-content">
          <div class="row">
            <div class=" input-field col s9 ">
              <input id="last_name" type="text" class="validate" name="todo" [(ngModel)]="usertodo.todo" #todo="ngModel"
                required />
              <label for="last_name">Add Todos</label>
            </div>
            <div class="col s2 style right">
              <button class="btn" (click)="AddTodo()"> Addtodo</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h6 class="center">Your Todos</h6>
  <div class="row">
    <div *ngFor="let data of gettodoList">
      <div class="col s6">
        <div class="card style1  z-depth-4">
          <div class="card-content">
            <div class="row">
              <div class="col s6 style2">
                <p class="">{{data.todo}}</p>
              </div>
              <div class="col s3">
                <button class="btn modal-trigger" data-target="modal1" (click)="updateTodo(data)">Update</button>
              </div>
              <div class="col s3">
                <button class="btn modal-trigger" data-target="change" (click)="deleteTodo(data._id)">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="modal1" class="modal style3">
        <div class="modal-content">
          <h5 class="center">Update Todo</h5>
          <div class="row">
            <div class=" input-field col s12 ">
              <input id="last_name" type="text" class="validate" name="todo" [(ngModel)]="usertodo1.todo" #todo = "ngModel" required />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn modal-close">Cancel</button>&nbsp;&nbsp;&nbsp;
          <button class="btn" (click)="updatedTodo()">Update</button>
        </div>
      </div>


      <div id="change" class="modal style3">
        <div class="modal-content">
          <h5 class="center">Delete Todo</h5>
          <div class="row">
            <h6>Are You Sure Want to Delete !!!</h6>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn modal-close">Cancel</button>&nbsp;&nbsp;&nbsp;
          <button class="btn"  (click) = "deletedTodos()">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
