<app-navbar></app-navbar>
<div class='container '>
    <div class='row'>
        <div class='col s10 bg1 offset-s1'>
            <div class='card bg2 z-depth-4'>
                <form
                #f="ngForm"
                novalidate
                (ngSubmit)="f.form.valid&&handleSubmit()"
                ><br />
                    <h4 class='center'>Login</h4>
                    <div class='card-content'>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class='material-icons prefix'>email</i>
                                <input id="first_name" type="text" class="validate" name="email" [(ngModel)]="formdata.email" #email="ngModel" required/>
                                <label for="first_name">Email</label>
                                <span class="style1" *ngIf="this.submit&&email.errors?.['required']">
                                    Email is Required
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class='material-icons prefix'>visibility</i>
                                <input id="last_name" type="text" class="validate" name="password" [(ngModel)] ="formdata.password" #password="ngModel" required/>
                                <label for="last_name">Password</label>
                                <span class="style1" *ngIf="this.submit&&password.errors?.['required']">
                                    Password is Required 
                                </span>
                            </div>
                        </div>

                        <div class='center'>
                            <span class='bg4 '>Already have a Account Please <a href='javascript:void(0)' [routerLink]="['/register']" routerLinkActive="router-link-active" >Register !!!</a></span>
                        </div>

                    </div>
                    <div class='card-action center'>
                        <button class='btn style' type='submit' (click) ="submit=true">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>