<app-navbar></app-navbar>
<div class='container'>
    <div class='row'>
        <div class='col s10 bg1 offset-s1'>
            <div class='card bg2 z-depth-4'>
                <form 
                #f="ngForm"
                novalidate
                (ngSubmit) ="f.form.valid&&handleSubmit()"
                ><br />
                    <h4 class='center'>Register</h4>
                    <div class='card-content'>
                        <div class="row">
                            <div class="input-field col s6">
                                <i class='material-icons prefix'>account_circle</i>
                                <input  id="first_name" type="text" class="validate" name="username" [(ngModel)]="formdata.username" #username="ngModel" required/>
                                <label for="first_name">Username</label>
                                <span class="style1 center" *ngIf = "this.Submit&&username.errors?.['required']">
                                    Username is Required
                                </span>
                            </div>
                            <div class="input-field col s6">
                                <i class='material-icons prefix'>email</i>
                                <input id="last_name" type="text" class="validate" name="email" [(ngModel)]="formdata.email" #email="ngModel" required/>
                                <label for="last_name">Email</label>
                                <span class="style1 center" *ngIf="this.Submit&&email.errors?.['required']">
                                    Email is Required
                                </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s6">
                                <i class='material-icons prefix'>visibility</i>
                                <input id="first_name" type="text" class="validate" name="password" [(ngModel)]="formdata.password" #password="ngModel" required/>
                                <label for="first_name">Password</label>
                                <span class="style1 center" *ngIf="this.Submit&&password.errors?.['required']">
                                    Password is Required
                                </span>
                            </div>
                            <div class="input-field col s6">
                                <i class='material-icons prefix'>visibility</i>
                                <input id="last_name" type="text" class="validate" name="confrimpass" [(ngModel)]="formdata.confrimpass" #confrimpass="ngModel" required/>
                                <label for="last_name">Confrim Password</label>
                                <span class="style1 center" *ngIf="this.Submit&&confrimpass.errors?.['required']">
                                    confrim Password is Required
                                </span>
                            </div>
                            <span class="style1" *ngIf="this.matchpass">
                                Password doesn't Match,Please Check!!!
                            </span>
                        </div>

                        <div class='center'>
                            <span class='bg4 '>Already have a Account Please <a href='javascript:void(0)' [routerLink]="['/login']" routerLinkActive="router-link-active" >Login !!!</a></span>
                        </div>

                    </div>
                    <div class='card-action center'>
                        <button class='btn style' type='submit' (click)="Submit=true">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>