<app-navbar></app-navbar>

<div class="container">
    <div class="row center">
      <ng-container *ngIf = "Credentials;then Show"></ng-container>
        <ng-template #Show>
          <h5>Your not Registered with us Please Register&nbsp;<a href="javascript:void(0)" routerLink = "/register">Clickhere!!!</a></h5>
        </ng-template>
        <h5>Welcome to OneBuy</h5>
        <h5>View our Catagries</h5>
    </div>
    <hr/>
</div>


<div class="container style1">
  <div class="row">
    <div class="col s10 offset-s1">
      <div class="card style2  z-depth-4">
        <div class="card-content">
          <div class="row">
            <div class="  col s7 ">
              <h5 class="center style4">Todo List</h5>
            </div>
            <div class="col s4 left">
              <button class="btn style3" (click) = "Addtodo()"> Addtodo</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>